openapi: 3.1.0
info:
  title: Relay App Automation Runs Workflows API
  description: The Relay.app API enables programmatic interaction with the Relay workflow automation platform. Developers can trigger workflow runs via webhooks, make custom HTTP requests to external systems, and manage automation through scheduled and event-based triggers. The API supports JSON payloads, custom response codes, and deduplication for webhook-triggered workflows.
  version: 1.0.0
  contact:
    url: https://docs.relay.app/
  license:
    name: Proprietary
    url: https://www.relay.app/terms
servers:
- url: https://api.relay.app/v1
  description: Relay App API
security:
- ApiKeyAuth: []
tags:
- name: Workflows
  description: Operations for managing and triggering workflow runs
paths:
  /workflows:
    get:
      operationId: listWorkflows
      summary: List Workflows
      description: Retrieves a list of all workflows in the account.
      tags:
      - Workflows
      parameters:
      - name: page
        in: query
        required: false
        description: Page number for pagination.
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        required: false
        description: Number of results per page.
        schema:
          type: integer
          default: 20
          maximum: 100
      responses:
        '200':
          description: List of workflows returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowList'
        '401':
          description: Unauthorized.
  /workflows/{workflowId}:
    get:
      operationId: getWorkflow
      summary: Get Workflow
      description: Retrieves details of a specific workflow by its ID.
      tags:
      - Workflows
      parameters:
      - name: workflowId
        in: path
        required: true
        description: The unique identifier of the workflow.
        schema:
          type: string
      responses:
        '200':
          description: Workflow retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '404':
          description: Workflow not found.
components:
  schemas:
    Workflow:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the workflow.
        name:
          type: string
          description: The name of the workflow.
        description:
          type: string
          description: Optional description of the workflow.
        status:
          type: string
          enum:
          - active
          - inactive
          - draft
          description: Current status of the workflow.
        triggerType:
          type: string
          enum:
          - webhook
          - scheduled
          - manual
          - app
          - form
          - table
          - batch
          - rss
          description: The type of trigger that starts this workflow.
        createdAt:
          type: string
          format: date-time
          description: Date and time the workflow was created.
        updatedAt:
          type: string
          format: date-time
          description: Date and time the workflow was last updated.
    WorkflowList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workflow'
        totalCount:
          type: integer
          description: Total number of workflows.
        page:
          type: integer
          description: Current page number.
        limit:
          type: integer
          description: Number of results per page.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Relay-API-Key
      description: API key for authenticating requests to the Relay App API.
